# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  image: 'devopsdemo'

stages:
- stage: BuildPush
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'Domas Docker Hub'
        repository: 'domas911/$(image)'
        command: 'build'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
        arguments: --label AzureDbConnection=$(AzureDBConnection)
  - job: Push
    displayName: Push image
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'Domas Docker Hub'
        repository: 'domas911/$(image)'
        command: 'push'
        tags: |
          $(tag)
- stage: Provision
  displayName: "Terraforming on Azure..."
  dependsOn: Build
  jobs:
  - job: Provision
    displayName: 'Provisioning Container Instance'
    pool:
      vmImage: ubuntu-latest
    variables:
    - group: TerraformEnvVars
    steps:
    - script: |
        set -e

        terraform init -input=false
        terraform apply -input=false -auto-approve
      name: 'RunTerraform'
      displayName: 'Run Terraform'
      env:
        ARM_CLIENT_ID: $(ARM_CLIENT_ID)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        ARM_TENANT_ID: $(ARM_TENANT_ID)
        ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
        TF_VAR_imagebuild: $(tag)
        AzureDBConnection: $(AzureDBConnection)
        