# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  image: 'devopsdemo'
  registry: 'Domas Docker Hub'

stages:
- stage: BuildPush
  displayName: Build image
  jobs:
  - job: BuildPush
    displayName: Build and push
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/DevOpsDemo/Dockerfile'
        repository: 'domas911/$(image)'
        containerRegistry: $(registry)
        tags: |
          $(tag)
        arguments: '--build-arg DBConn=$(AzureDBConnection)'
    - task: Docker@2
      displayName: Push the image
      inputs:
        command: push
        repository: 'domas911/$(image)'
        containerRegistry: $(registry)
        tags: |
          $(tag)
- stage: Provision
  displayName: "Terraforming on Azure..."
  dependsOn: 'BuildPush'
  jobs:
  - job: Provision
    displayName: 'Provisioning Container Instance'
    pool:
      vmImage: ubuntu-latest
    variables:
    - group: TerraformEnvVars
    steps:
    - script: |
        set -e

        terraform init -input=false
        terraform apply -input=false -auto-approve
      name: 'RunTerraform'
      displayName: 'Run Terraform'
      env:
        ARM_CLIENT_ID: $(ARM_CLIENT_ID)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        ARM_TENANT_ID: $(ARM_TENANT_ID)
        ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
        TF_VAR_imagebuild: $(tag)
        AzureDBConnection: $(AzureDBConnection)
